# Remove or comment this Limit section if running Apache < 2.4.
# http://stackoverflow.com/a/22040167/4003194
#<Limit PUT>
#Require all granted
#</Limit>

RewriteEngine on
# Edit the base URL path of your feed.
# NOTE: For path resolution, define the env. variable (REWRITE_BASE) with the same value.
#RewriteBase /your/url/path/
#SetEnv REWRITE_BASE /your/url/path/

RewriteCond %{REQUEST_METHOD} =PUT
RewriteRule ^$ public/push.php [L]

RewriteCond %{REQUEST_METHOD} =PUT
RewriteRule ^(.*)$ public/push.php?$1 [L]

RewriteCond %{REQUEST_METHOD} =DELETE
RewriteRule ^(.*)$ public/delete.php [L]

RewriteRule ^$ public/index.php [L]
RewriteRule ^\$metadata$ public/metadata.xml [L]
RewriteRule ^Search\(\)/\$count$ public/count.php [L]
RewriteRule ^Search\(\)$ public/search.php [L]
RewriteRule ^Packages\(\)$ public/search.php [L]
RewriteRule ^Packages\(Id='([^']+)',Version='([^']+)'\)$ public/findByID.php?id=$1&version=$2 [L]
RewriteRule ^GetUpdates\(\)$ public/updates.php [L]
RewriteRule ^FindPackagesById\(\)$ public/findByID.php [L]
RewriteRule ^download/([^/]+)/([^/]+)$ public/download.php?id=$1&version=$2 [L]
RewriteRule ^api/v2/package/$ public/index.php [L]
RewriteRule !^packagefiles/ - [C]
RewriteRule !^public/ - [C]
RewriteRule (.*) public/$1 [L]
